<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar consultor</title>
    <style>
        body{
            background-color: darkblue;
            text-align: center;
            color: white;
        }
        a{
            color: white;
            text-decoration: none;
        }
        input{
            margin: 20px;
        }
    </style>
</head>
<body>
<h1>Editar</h1>
<form action="#" th:action="@{/editarPersona/{id}(id=${id})}" th:object="${personaToEdit}" method="post">
    <label for="nombre">Nombre</label>
    <input type="text" th:field="*{nombre}"  id="nombre"/>
    <label for="apellido1">Apellido1</label>
    <input type="text" th:field="*{apellido1}"  id="apellido1"/>
    <br>
    <label for="apellido2">Apellido2</label>
    <input type="text" th:field="*{apellido2}"  id="apellido2"/>
    <label for="telefono">Teléfono:</label>
    <input type="text" th:field="*{telefono}"  id="telefono"/>
    <br>
    <br>
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}"  id="email"/>
    <input hidden="true"type="text" th:field="*{clienteReferencia}"  id="clienteReferencia"/>
    <br>
    <input type="submit" value="Guardar Cambios">
</form>
<div>
    <a href="/">Volver a la página principal</a>
</div>
</body>
</html>