<!doctype html>
<ht<head>
    <title>Operacion exitosa</title>
    <style>
        body{
            background-color: darkblue;
            text-align: center;
            color: white;
        }
        a{
            color: white;
        }
        button{
            background-color: black;
            border-color: white;
            color: white;
            font-size: 14px;
            border-radius: 3px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Exito</h1>
<p>La operacion fue exitosa. </p>
    <div>
        <a href="/">Volver a la página principal</a>
    </div>
</body>
</html>