<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Examen 2 - Componentes</title>
    <style>
        body{
            background-color: darkblue;
            text-align: center;
            color: white;
        }
        a{
            color: white;
            text-decoration: none;
        }
        button{
            background-color: black;
            border-color: white;
            color: white;
            font-size: 14px;
            border-radius: 3px;
            padding: 10px;
        }
    </style>
</head>
<body>
<div>
    <h1>Examen 2 - Componentes</h1>
    <button onclick="window.location.href = '/agregarConsultor';" >Agregar Consultor</button>
    <button onclick="window.location.href = '/verConsultores';" >Ver Consultores</button>
    <br>
    <br>
    <br>
    <br>
    <button onclick="window.location.href = '/agregarCliente';" >Agregar Cliente</button>
    <button onclick="window.location.href = '/verClientes';" >Ver Clientes</button>
    <br>
    <br>
    <br>
    <br>
    <button onclick="window.location.href = '/agregarTrabajo';" >Agregar Trabajos</button>
    <button onclick="window.location.href = '/verTrabajos';" >Ver Trabajos</button>
</div>
</body>
</html>